$white: #ffffff;
$black: #1d2b36;
$light-gray: #fafbff;
$blue: #0067ff;
$dark-blue: #3182bd;
$lighter-blue: #6baed6;
$light-blue: #ecf1ff;
$light-blue-v2: #cde1ff;
$mint: #00d0c2;
$orange: #f0854c;
$dark-orange: #e6550d;
$purple-blue: #4c71f0;
$gray: #eee;
$dark-gray: #ccc;
$actual-gray: #cacaca;
$red: #dc3545;
$lighter-red: #e3acb0;

$fontRegular: "ProximaNovaRegular";
$fontBold: "ProximaNovaBold";
$fontHeadline: "GothamBold";
$archiaBold: "ArchiaBold";
$archiaSemiBold: "ArchiaSemiBold";
$archiaMedium: "ArchiaMedium";

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
