@import "./consts.scss";

.DatePicker {
  font-size: 3.5vw;
  // color: $actual-gray;

  .calendar-icon {
    height: 3.5vw;
    fill: $black;
  }

  .custom-input {
    border: none;
    padding: 0 0rem;
    color: $black;
    transition: 0.2s;
    background: transparent;

    &:hover,
    &:focus {
      color: $black;

      .arrow-down {
        fill: $black;
      }
    }

    .arrow-down {
      height: 0.5rem;
      fill: $black;
      transform: rotate(90deg);
      margin-left: 0.2rem;
      transition: 0.2s;
    }

    &:focus {
      .arrow-down {
        fill: $black;
        transform: rotate(-90deg);
      }
    }
  }

  .custom-calendar {
    border: 1px solid $gray;
    border-radius: 0px;
    font-family: $archiaMedium;

    .react-datepicker__header {
      padding-top: 1rem;
      border-bottom: none;
      border-radius: 0px;
      background-color: $white;

      .react-datepicker__current-month {
        // padding-top: 1rem;
        padding-bottom: 0.5rem;
        color: $black;
      }
    }

    .react-datepicker__day-names {
      font-family: $archiaBold;
      // position: relative;
      // bottom: -0.5rem;

      .react-datepicker__day-name {
        // width: 2rem;
        color: $black;
      }
    }

    .react-datepicker__day {
      width: 2rem;
      height: 2rem;
      line-height: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      color: $black;
    }

    .react-datepicker__day--disabled,
    .react-datepicker__day--outside-month {
      color: $dark-gray;
    }

    .react-datepicker__day--selected {
      background-color: $blue;
      color: $white !important;
    }

    .react-datepicker__day--keyboard-selected {
      background-color: $white;
      color: $black;
    }

    .react-datepicker__month {
      margin-top: 0;
    }

    .react-datepicker__triangle {
      &:before {
      }
    }
  }

  .react-datepicker-popper[data-placement^="bottom"]
    .react-datepicker__triangle {
    border-bottom-color: $white;

    &:before {
      border-bottom-color: $gray;
    }
  }

  .react-datepicker__navigation {
    width: 1rem;
    height: 1rem;
    top: 1.2rem;
    &--next,
    &--previous {
      border: none;

      &:hover {
        border: none;
      }

      &:before {
        content: "";
        display: block;
        background: url("../img/next.png");
        position: absolute;
        z-index: 10000;
        background-size: cover;
        width: 100%;
        height: 100%;
      }
    }

    &--previous {
      transform: rotate(180deg);
    }
  }

  * {
    :focus {
      outline: none !important;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .DatePicker {
    font-size: 0.95vw;

    .calendar-icon {
      height: 0.95vw;
    }
  }
}
