@import "./consts.scss";

.HorizontalBarChart {
  padding: inherit;
  left: 0;

  .horizontal-bar-wrapper {
    display: table;

    .horizontal-bar-wrapper-row {
      display: table-row;

      .horizontal-bar-wrapper-column {
        display: table-cell;
        white-space: nowrap;
        vertical-align: middle;
        padding: 0.1rem 0;
        overflow: hidden;

        &:nth-child(1) {
          opacity: 0;
          animation: opacityAnimation 1s 1 forwards;
        }

        .label {
          font-size: 0.8rem;
          opacity: 0;
          animation: opacityAnimation 1s 1 forwards;
        }

        .horizontal-bar {
          background: $dark-orange;
          border-radius: 0.25rem;
          height: 0.5rem;
          font-size: 0.8rem;
          line-height: 0.8rem;
          animation: 1s widthAnimation forwards;
          animation-iteration-count: 1;

          .value {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            animation: opacityAnimation 700ms 1 forwards;
            animation-delay: 500ms;

            &-inner {
              right: 0.3rem;
              color: $white;
            }
            &-outer {
              left: calc(100% + 0.25rem);
              color: $black;
            }
          }
        }
      }
    }
  }

  @keyframes widthAnimation {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes opacityAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
