@import "./consts.scss";

.Legend {
  background-color: rgba($white, 0.5);

  .color-label {
    width: 2.2vw;
    height: 2.2vw;
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .Legend {
    .color-label {
      width: 0.8rem;
      height: 0.8rem;
    }
  }
}
