@import "./consts.scss";

.Map {
  .map-container {
    margin: 0 auto;
    width: 73%;
  }

  .path {
    stroke: $white;
  }

  .custom-tooltip {
    bottom: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.2s;
    font-size: 0.8rem;

    p {
      line-height: 0.8rem;
    }

    &-hidden {
      opacity: 0;
    }
  }

  .map-label {
    font-size: 0.8rem;
    text-anchor: middle;
    pointer-events: none;
    opacity: 1;
    transition: 0.2s;

    &-hidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  .map-legend {
    top: 0;
    right: 0;
    height: 25%;
    width: 2%;
    font-size: 0.65rem;
    line-height: 0.65rem;

    &-item {
      transform: translate(-100%, -50%);
    }
  }

  .pin {
    pointer-events: none;
    opacity: 1;
    animation: bounce-top 0.5s both;
    fill: $red;
    &-hidden {
      pointer-events: none;
      opacity: 0;
      fill: $red;
    }
  }

  .pin-location {
    pointer-events: none;
    transition: 0.2s;
    fill: $red;
    opacity: 1;

    &-hidden {
      fill: $lighter-red;
    }

    &-selected {
      fill: $black;
    }

    &-invisible {
      opacity: 0;
    }
  }

  @keyframes bounce-top {
    0% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
  }
}
