@import "../css/consts.scss";

.MapWrapper {
  .map-wrapper-2 {
  }

  .map-container {
    margin: 0 auto;
    // width: 65%;
  }

  .grid-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
  }

  .grid-layout-2 {
    display: grid;
    grid-template-rows: auto 1fr;
    // row-gap: 1rem;
  }

  // .title {
  //   left: 0;
  //   width: 50%;
  // }
}

.map-back-btn {
  position: absolute;
  cursor: pointer;
  color: $white;
  padding: 0.2rem 0.7rem;
  border-radius: 0.25rem;
  font-size: 3vw;
  opacity: 0;
  transition: 0.2s;

  &-visible {
    opacity: 1;
    transition: 0.2s;
  }

  &-blue {
    background-color: $dark-blue;
  }

  &-red {
    background-color: $red;
  }
}

.data-info {
  font-size: 4vw;
  line-height: 5.5vw;
}

.data-info-small {
  font-size: 4vw;
  line-height: 4.8vw;
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .MapWrapper {
    .map-wrapper-2 {
      height: 100%;
    }

    .horizontal-barchart-wrapper {
      height: 100%;
      overflow: auto;
    }

    .grid-layout-2 {
      row-gap: 1rem;
    }
  }
  .map-back-btn {
    font-size: 0.95vw;
  }
  .data-info {
    font-size: 1vw;
    line-height: 1.5vw;
  }
  .data-info-small {
    line-height: 1.25vw;
    font-size: 0.95vw;
  }
}
