@import "../css/consts.scss";

.MapWrapper {
  .map-container {
    margin: 0 auto;
    // width: 65%;
  }

  .grid-layout {
    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 1rem;
  }

  // .title {
  //   left: 0;
  //   width: 50%;
  // }
}
