@import "../css/consts.scss";

.Navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .cardiogram-icon {
    fill: $blue;
    width: 1.5rem;
    height: 1.5rem;
  }

  .navigation-menu {
    list-style-type: none;

    .custom-link {
      color: $black;

      &:hover {
        text-decoration: none;
      }
    }

    &-icon {
      width: 1rem;
      height: 1rem;
    }
  }

  .bottom-img {
    width: 100%;
    transform: scale(1.3);
  }
}
