@import "../css/consts.scss";

.Navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  display: flex;

  &-opened {
    transition: opacity 0.2s;
    z-index: 1;
    opacity: 1;
    // display: none;
  }

  .nav-item-label {
    font-size: 4.5vw;
  }

  .cardiogram-icon {
    fill: $blue;
    // width: 1.5rem;
    // height: 1.5rem;
    width: 6vw;
    height: 6vw;
  }

  .navigation-menu {
    list-style-type: none;

    .custom-link {
      color: $black;

      &-active {
        color: $blue;

        .navigation-menu-icon {
          fill: $blue !important;
        }
      }

      &:hover {
        text-decoration: none;
      }
    }

    &-icon {
      width: 4.5vw;
      height: 4.5vw;
    }
  }

  .bottom-img {
    width: 70%;
    transform: scale(1.1);
  }

  .info-button {
    color: $blue;
    display: inline-flex;
  }

  .bottom-icon {
    height: 5.5vw;
    transition: 0.2s;
  }

  .github-icon {
    stroke: gray;

    &:hover {
      stroke: $black;
    }
  }

  .envelope-icon,
  .db-icon {
    fill: gray;

    &:hover {
      fill: $black;
    }
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .Navigation {
    z-index: 1;
    opacity: 1;
    display: flex;

    .bottom-img {
      width: 80%;
      transform: scale(1.1);
    }

    .nav-item-label {
      font-size: 1.1vw;
    }

    .cardiogram-icon {
      width: 1.7vw;
      height: 1.7vw;
    }

    .navigation-menu {
      &-icon {
        width: 1.1vw;
        height: 1.1vw;
      }
    }

    .bottom-icon {
      height: 1.7vw;
    }
  }
}
