@import "../css/consts.scss";

.Options {
  .custom-input {
    position: relative;
    cursor: pointer;
    display: flex;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;

      &:checked {
        ~ .checkmark {
          background-color: $blue;

          &-radio {
            &:after {
              display: inline-block;
              width: 0.5rem;
              height: 0.5rem;
              background-color: $white;
              border-radius: 50%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          &-checkbox {
            &:after {
              display: inline-block;
              width: 0.8rem;
              height: 0.8rem;
              background-image: url(../img/svg/checkmark.svg);
              border-radius: 50%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }

    .label {
      flex: 1;
    }

    .checkmark {
      height: 1.5rem;
      width: 1.5rem;
      background-color: $gray;
      position: relative;

      &-radio {
        border-radius: 50%;
      }

      &:after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    &:hover {
      .checkmark {
        background-color: $dark-gray;
        transition: 0.2s;
      }
    }
  }
}
