@import "../css/consts.scss";

.PieChart {
  .pie-chart-legend {
    .legend-label {
      line-height: 6vw;
      flex: 1;
    }

    .legend-color {
      width: 0.8em;
      height: 0.8em;
      border-radius: 50%;
    }
  }

  .custom-tooltip {
    font-size: 8vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s;
    opacity: 1;

    &-hidden {
      opacity: 0;
    }
  }

  &-small {
    .custom-tooltip {
      font-size: 7vw;
    }

    .pie-chart-legend {
      font-size: 3.5vw;

      .legend-label {
        line-height: 5vw;
      }

      .legend-color {
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, "md")) {
  .PieChart {
    .pie-chart-legend {
      .legend-label {
        line-height: 1.1vw;
      }
    }

    .custom-tooltip {
      font-size: 1.8vw;
    }

    &-small {
      .custom-tooltip {
        font-size: 1.3vw;
      }

      .pie-chart-legend {
        font-size: 0.87vw;
      }
    }

    &-small {
      .custom-tooltip {
        font-size: 1.3vw;
      }

      .pie-chart-legend {
        font-size: 0.87vw;
        .legend-color {
          width: 0.7vw;
          height: 0.7vw;
        }
      }
    }
  }
}
