.PieChart {
  .pie-chart-legend {
    .legend-label {
      line-height: 1.1rem;
      flex: 1;
    }

    .legend-color {
      width: 0.8em;
      height: 0.8em;
      border-radius: 50%;
    }
  }

  .custom-tooltip {
    font-size: 1.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s;
    opacity: 1;

    &-hidden {
      opacity: 0;
    }
  }

  &-small {
    .custom-tooltip {
      font-size: 1rem;
    }

    .pie-chart-legend {
      font-size: 0.8rem;
    }
  }
}
