@font-face {
  font-family: $fontRegular;
  src: url(../fonts/ProximaNova-Regular.otf);
}

@font-face {
  font-family: $fontBold;
  src: url(../fonts/ProximaNova-Bold.otf);
}

@font-face {
  font-family: $fontHeadline;
  src: url(../fonts/Gotham-Bold.otf);
}

@font-face {
  font-family: $archiaBold;
  src: url(../fonts/archia-bold-webfont.woff2) format("woff2");
}

@font-face {
  font-family: $archiaSemiBold;
  src: url(../fonts/archia-semibold-webfont.woff2) format("woff2");
}

@font-face {
  font-family: $archiaMedium;
  src: url(../fonts/archia-medium-webfont.woff2) format("woff2");
}

body {
  font-size: 16px;
  font-family: $archiaMedium, serif;

  @include media-breakpoint-up(md) {
    font-size: 1.1vw;
  }
}
